/* grid */
div {box-sizing: border-box;}
div.row {width: 100%; margin: auto;}
div.row:after {content: ""; display: table; clear: both;}
div[class^='col'] {float: left; padding-right: 1rem;}
div[class^='col']:last-child {padding-right: 0}
.span1 {width: 08.33333%;}
.span2 {width: 16.66666%;}
.span3 {width: 25%;}
.span4 {width: 33.33333%;}
.span5 {width: 41.66666%;}
.span6 {width: 50%;}
.span7 {width: 58.33333%;}
.span8 {width: 66.66666%;}
.span9 {width: 75%;}
.span10 {width: 83.33333%;}
.span11 {width: 91.66666%;}
.span12 {width: 100%;}
